<%- include('./partials/header')%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('images/header.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Saleh Blog</h1>
                        <span class="subheading">Welcome to the best blog website in the world</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                        <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Saleh</a>
                        on September 24, 2021
                    </p>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <hr />
    <%- include('./partials/footer.ejs') %>